# data
/week1/ny_taxi_postgres_data/*
/week1/taxi+_zone_lookup.csv
/week1/green_tripdata_2019-09.csv.gz

#others
*.iml
*.xml
*.idea

#terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

#env file
**/.env

#mage files
**/.cache
**/.operation_history
**/type.json
**/statistics.json
**/suggestions.json
**/metadata.json
**/insights.json
**/data_column_types.json
**/mage-ai.db
**/mage_data/*
**/.ssh_tunnel/*

#duckdb
**/*.duckdb**
**/*.db
**/*.db.wal

#dbt
.DS_Store
**google_credentials.json
**logs/
**__pycache__/
.history
**/ny_taxi_postgres_data/*
serving_dir
.ipynb_checkpoints/
**/dbt/dbt_packages/*
**/dbt/target/*

#workshop2
/workshop2/slides.pdf
/workshop2/data
/.venv/